   <header id="main-header">

   	<div class="row">

	      <nav id="nav-wrap">

	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class="menu-icon">Menu</span>
	         </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class="menu-icon">Menu</span>
         	</a>

	         <ul id="nav" class="nav">
				 <li><a class="smoothscroll" href="/#main">Главная</a></li>
				 <li><a class="smoothscroll" href="/#mission">Миссия</a></li>
				 <li><a class="smoothscroll" href="/#portfolio">Услуги</a></li>
				 <li><a class="smoothscroll" href="/#about">Возможности</a></li>
				 <li><a class="smoothscroll" href="/#comments">Отзывы</a></li>
				 <li><a class="smoothscroll" href="/mastermaind_reg">Мастермайнд</a></li>
	         </ul> <!-- end #nav -->

	      </nav> <!-- end #nav-wrap -->

	      <ul class="header-social">
	        	<li><a href="https://t.me/semkova_bot"><i class="fa fa-telegram"></i></a></li>
	        	<li><a href="https://vk.com/psychology_spb_roadtotrueself"><i class="fa fa-vk"></i></a></li>
	        	<li><a href="https://www.youtube.com/@polina_coach"><i class="fa fa-youtube"></i></a></li>
	      </ul>

	   </div>

   </header> 