{% extends "website/base.html" %}

{% block main %}
    {% include "website/main.html" %}

   <!-- Services Section
   ================================================== -->
   <section id="mission">

   	<div class="row section-head">

      	<div class="twelve columns">

      		<h1>Моя глобальная миссия<span>.</span></h1>

	         <hr />

	         <p>Я вижу свою глобальную миссию следующим образом: помочь как можно большему количеству людей понять себя и отыскать свой путь в этой жизни. И для меня это больше, чем просто работа и даже больше, чем психология. Для меня это история про служение людям, личную миссию и смысл жизни.</p>
			 <p>Я готова дать тебе помощь в прохождении личностных кризисов, когда не можешь ответить себе на вопросы "Кто я?", "Чего я хочу?", "В чем моя сила?", "В какой области мне искать своё счастье?", "Куда мне сейчас направить свою энергию и своё внимание, чтоб прийти к своей цели в ближайшем будущем?", когда стоишь на распутье и не знаешь, какую дорогу выбрать, когда по-старому жить уже не можешь, а по-новому ещё не умеешь.</p>
			 <p>Я не учу своих клиентов тому, как правильно жить. Но я помогаю им найти все ответы внутри себя; получить доступ к своим скрытым ресурсам; начать слышать своё истинное "Я"; получить более обзорное видение ситуаций в своей жизни и начать видеть этот мир, как поле возможностей для их реализации. Чаще всего это похоже на ясное побуждение после долгого странного и сумбурного сна, который, к счастью, оказался всего лишь сном.</p>

	      </div>

      </div> <!-- end section-head -->

   </section> <!-- end services -->

	{% block services %}
		{% include "website/services.html" %}
	{% endblock %}

   <!-- About Section
   ================================================== -->
   <section id="about">

   	<div class="row section-head">

      	<div class="twelve columns">

      		<h1>С какими запросами я работаю<span>?</span></h1>

	         <hr />
<!---
	         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	         eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
	         voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         </p> -->

	      </div> <!-- end section-head -->

      </div>

      <div class="row mobile-no-padding">

      	<div class="process bgrid-half tab-bgrid-whole group">

      		<div class="bgrid">

			      <h3>Повышение самоценности и уверенности в себе</h3>

			      <p>Работа с синдромом самозванца, низкой самооценкой и самообесцениванием</p>

		   	</div>

      		<div class="bgrid">

			     	<h3>Работа с мышлением</h3>

			     	<p>Найдём и перепишем ограничивающие убеждения, которые мешают вам зарабатывать, проявляться, реализовываться и идти к своим целям</p>

		      </div>

		      <div class="bgrid">

			     	<h3>Целеполагание</h3>

			     	<p>Научимся ставить цели и достигать их. Целеполагание включает в себя работу по созданию положительной мотивации, избавление от прокрастинации, раскрытие ваших сильных сторон, проработку страха делегировать, работу над персональной ответственностью. Как результат, вы будете приходить к своим целям быстро, эффективно, без надрыва и с кайфом от процесса</p>

		      </div>

		      <div class="bgrid">

			      <h3>Личностный и финансовый рост</h3>

			      <p>Если вас интересует именно он, если вы амбициозны, но буксуете на месте и не можете пробить финансовый потолок, то специально для вас я создала свой флагманский продукт "7 шагов финансового роста", который поможет вам вырасти в деньгах и повысить качество своей жизни за счёт проработки 7 фундаментально важных свойств психики</p>

		      </div>

      	</div> <!-- end process -->

     	</div> <!-- end row -->

      <div class="row team section-head" id="comments">

   		<div class="twelve columns">

	         <h1>Отзывы</h1>
	         <hr />

	      </div>

      </div> <!-- end section-head -->

      <div class="row">

         <div id="team-wrapper" class="bgrid-fourth ">
			 {% block comments %}
                {% include "website/comments.html" %}
			 {% endblock %}
         </div> <!-- end team-wrapper -->

      </div> <!-- end row -->

    </section> <!-- end about -->
{% endblock %}
