			   <div id="hero-slider" class="flexslider">

				   <ul class="slides">

					   <!-- slide -->
					   <li>
						   <div class="flex-caption">
								<h1 class="">Меня зовут <span>Полина Семкова</span></h1>

								<h3 class="">Я психолог, коуч и предприниматель. Успешно помогаю людям понять, принять, полюбить себя, найти своё призвание и реализоваться в нём. Мой личный путь к принятию себя был долгий и тернистый, но я справилась и теперь мне есть чем поделиться с миром.</h3>
							</div>
					   </li>

					   <!-- slide -->
					   <li>
							<div class="flex-caption">
								<h1 class="">Что я могу дать лично тебе?</h1>

								<h3 class="">Я помогу тебе раскрыть твой потенциал, найти внутренние опоры, повысить самоценность, принять себя и мир вокруг так, как принимают самый дорогой и долгожданный подарок и выстроить пошаговый индивидуальный путь к твоей мечте.</h3>
							</div>
					   </li>

					   	<!-- slide -->
					   <li>
						   <div class="flex-caption">
								<h1 class="">Со мной ты можешь быть неидеальным</h1>

								<h3 class="">делиться наболевшим, не боясь, что тебя не поймут или обесценят твою проблему; плакать, злиться и не стыдиться тех вещей, которые ты считаешь своими недостатками и пороками. Добро пожаловать в моё безопасное пространство.</h3>
							</div>
					   </li>

				   </ul>

			   </div>